// Import
@import "../base/elements";
@import "../base/mixins";
@import "../base/utilities";
@import "../base/slide";

$bgColor: #FFFFFF;
$textColor: #000000;
$textSubColor: #777777;
$accentColor: #4183c4;

// Simple
.gs-theme {
  .gs-slide-content {
    background-color: $bgColor;
    color: $textColor;
  }
  h1 {
    text-align: center;
    font-weight: bold;
  }
  h2 {
    border-bottom: 3px solid #eee;
    padding-bottom: 0.5em;
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
  }
  pre {
    border-radius: 0.2em;
    overflow: auto;
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
  }
  blockquote {
    border-left: 10px solid #DDD;
    margin-left: 1em;
    padding-left: 1em;
    color: $textSubColor;
  }
  em {
    font-weight: bold;
  }
  a {
    color: $accentColor;
  }
}