// Import
@import "../base/elements";
@import "../base/mixins";
@import "../base/utilities";
@import "../base/slide";

// Skin
$bgColor: #688E2B;
$textColor: #27360F;
$accentColor: #EFEFEE;

// Green
.gs-theme{
  background: $bgColor;
  background: -moz-radial-gradient(center, ellipse cover,  rgba(104,142,43,1) 0%, rgba(99,140,33,1) 44%, rgba(57,130,53,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(104,142,43,1)), color-stop(44%,rgba(99,140,33,1)), color-stop(100%,rgba(57,130,53,1)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(104,142,43,1) 0%,rgba(99,140,33,1) 44%,rgba(57,130,53,1) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(104,142,43,1) 0%,rgba(99,140,33,1) 44%,rgba(57,130,53,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(104,142,43,1) 0%,rgba(99,140,33,1) 44%,rgba(57,130,53,1) 100%);
  background: radial-gradient(ellipse at center,  rgba(104,142,43,1) 0%,rgba(99,140,33,1) 44%,rgba(57,130,53,1) 100%);
  background-attachment: fixed;
  .gs-slide-content {
    color: $textColor;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    color: $accentColor;
  }
  h2 {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: $accentColor;
  }
  h3 {
    font-weight: bold;
  }
  pre {
    background-color: rgba(#FFFFFF,0.75);
    > code {
      background-color: transparent;
    }
  }
  code {
    border-radius: 0.2em;
    background-color: rgba(#FFFFFF,0.75);
  }
  blockquote {
    border-left: 10px solid $accentColor;
    margin-left: 1em;
    padding-left: 1em;
  }
  em {
    font-weight: bold;
  }
  a {
    color: $textColor;
    text-decoration: wavy;
  }
}