// Import
@import "../base/elements";
@import "../base/mixins";
@import "../base/utilities";
@import "../base/slide";

// Skin
$bgColor: #3E4360;
$textColor: #F7EACB;
$accentColor: #F7D33A;

// Night
.gs-theme {
  .gs-slide-content {
    background-color: $bgColor;
    color: $textColor;
  }
  h1 {
    text-align: center;
    font-weight: bold;
  }
  h2 {
    font-weight: bold;
  }
  h3 {
    font-weight: bold;
  }
  pre {
    overflow: auto;
    border-radius: 0.2em;
    border: 1px solid darken(#3E4360,50%);
    background-color: $textColor;
    color: #3E4360;
  }
  code {
    border-radius: 0.2em;
    border: 1px solid darken(#3E4360,50%);
    background-color: $textColor;
    color: #3E4360;
  }
  blockquote {
    border-left: 10px solid $accentColor;
    margin-left: 1em;
    padding-left: 1em;
  }
  em {
    font-weight: bold;
  }
  b,strong {
    color: $accentColor;
  }
  a {
    color: $textColor;
    text-decoration: wavy;
  }
}