// Import
@import "../base/elements";
@import "../base/mixins";
@import "../base/utilities";
@import "../base/slide";

// Skin
$bgColor: #DB4743;
$textColor: #FDFFFD;
$accentColor: #F6DB74;
$borderColor: #71302E;

// Redhot
.gs-theme {
  background-color: $bgColor;
  .gs-slide-content {
    color: $textColor;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    color: $accentColor;
  }
  h2 {
    font-weight: bold;
    color: $accentColor;
  }
  h3 {
    font-weight: bold;
  }
  pre {
    border: 1px solid $borderColor;
    background-color: $borderColor;
    color: $textColor;
  }
  code {
    border: 1px solid $borderColor;
    background-color: $borderColor;
    color: $textColor;
  }
  blockquote {
    border-left: 10px solid $borderColor;
    margin-left: 1em;
    padding-left: 1em;
  }
  em {
    font-weight: bold;
  }
  b,strong {
    color: $accentColor;
  }
  a {
    color: $textColor;
    text-decoration: wavy;
  }
}