// Import
@import "../base/elements";
@import "../base/mixins";
@import "../base/utilities";
@import "../base/slide";

// Skin
$bgColor: #EEEEEE;
$textColor: #434343;
$textSubColor: #CCCCCC;
$accentColor: #20C88B;

// Simple
.gs-theme {
  @include font-size(3.2,48);
  .gs-slide-content {
    position: relative;
    padding: 2em;
    background-color: $bgColor;
    line-height: 1.6;
    color: $textColor;
    @include box-sizing;
  }
  h1,
  .gist-description {
    @include font-size(4.8,96);
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    @include font-size(3.6,72);
    border-bottom: 2px solid $textSubColor;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
  }
  h3 {
    @include font-size(3.2,48);
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  p,ul,ol,li {
    margin-bottom: 0.5em;
  }
  ul,ol {
    margin-left: 1em;
    padding-left: 1.5em;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  pre {
    @include font-size(2.0,32);
    padding: 1em;
    background-color: $textSubColor;
  }
  blockquote {
    border-left: 5px solid $textSubColor;
    margin-left: 1em;
    padding-left: 1em;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  em {
    font-weight: bold;
  }
  b,strong {
    font-weight: bold;
    color: $accentColor;
  }
  a {
    color: $textColor;
  }
}