/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Snippet */
/*
# Image replacement
*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
# Clearfix
*/
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
# Wrap text
*/
.wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

html, body, article, div {
  height: 100% !important;
}

.gs-slide {
  width: 100%;
  height: 100%;
}

.gs-slide-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  display: table;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.gs-theme {
  font-size: 48px;
  font-size: 2.4vw;
}
.gs-theme h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 96px;
  font-size: 4.2vw;
}
.gs-theme h2 {
  font-size: 72px;
  font-size: 3vw;
}
.gs-theme h3 {
  font-size: 48px;
  font-size: 2.4vw;
}
.gs-theme h2, .gs-theme h3, .gs-theme p, .gs-theme ul, .gs-theme ol, .gs-theme li {
  margin-bottom: 0.5em;
  line-height: normal;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.gs-theme ul, .gs-theme ol {
  margin-left: 1em;
  padding-left: 1.5em;
}
.gs-theme ul {
  list-style: disc;
}
.gs-theme ol {
  list-style: decimal;
}
.gs-theme pre {
  margin-bottom: 0.5em;
  line-height: normal;
  white-space: -moz-pre-wrap;
  /* Mozilla, supported since 1999 */
  white-space: -pre-wrap;
  /* Opera */
  white-space: -o-pre-wrap;
  /* Opera */
  white-space: pre-wrap;
  /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word;
  /* IE 5.5+ */
  font-size: 32px;
  font-size: 2vw;
}
.gs-theme img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.gs-theme b, .gs-theme strong {
  font-weight: bold;
}

.gs-theme .gs-slide-content {
  background-color: #eeeeee;
  color: #434343;
}
.gs-theme h1 {
  text-align: center;
  font-weight: bold;
}
.gs-theme h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 0.5em;
  font-weight: bold;
}
.gs-theme h3 {
  margin-bottom: 0.5em;
  font-weight: bold;
}
.gs-theme pre {
  overflow: auto;
  border-radius: 0.2em;
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  background-color: #f8f8f8;
}
.gs-theme code {
  border-radius: 0.2em;
  border: 1px solid #ddd;
  margin: 0 .5em;
  padding: .2em .5em;
  background-color: #f8f8f8;
}
.gs-theme blockquote {
  border-left: 5px solid #cccccc;
  margin-left: 1em;
  padding-left: 1em;
}
.gs-theme em {
  font-weight: bold;
}
.gs-theme b, .gs-theme strong {
  color: #20c88b;
}
.gs-theme a {
  color: #434343;
}
