/*
# Image replacement
*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
# Clearfix
*/
.clearfix {
   *zoom: 1;
}
.clearfix {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
}
.clearfix {
  &:after {
    clear: both;
  }
}

/*
# Wrap text
*/
.wrap {
  @include wrap;
}

/*
# Hidden
*/
.is-hidden {
  display: none;
}